body {
    width: 300px;
    margin: 100px auto;
}
.form {
    display: flex;
    justify-content: space-around;
}
.input {
    width: 200px;
}
.result {
    text-align: center;
    margin: 15px
}